<section>
    <%= form_with url: articles_path, method: :get, local: true do |f| %>
        <%= f.label :query, "Search: " %>
        <%= f.text_field :query, value: @query %>
        <%= f.submit "Go" %>
    <% end %>
    <%= link_to "New Article", new_article_path %>
</section>
<section id="search_results">
    <% if @articles.empty? %>
        <p>No articles available</p>
    <% else %>
        <ul>
            <% @articles.each do |article| %>
                <li><%= article.title %></li>
            <% end %>
        </ul>
    <% end %>
</section>