<% content_for :head do %>
    <%= javascript_pack_tag 'articles', 'data-turbolinks-track': 'reload' %>
<% end %>

<section id="search_box">
    <%= form_with url: articles_path, method: :get, local: true, html: { autocomplete: 'off' } do |f| %>
        <%= f.text_field :query, value: @query %>
        <%= f.button :submit do %>
            <i class="gg-search"></i>
        <% end %>
    <% end %>
    <%= link_to new_article_path do %>
        <span>&plus;</span>
        <span>New article</span>
    <% end %>
</section>
<section id="search_results">
    <% if @articles.empty? %>
        <p>No articles available</p>
    <% else %>
        <ul>
            <% @articles.each do |article| %>
                <li><%= article.title %></li>
            <% end %>
        </ul>
    <% end %>
</section>