<% content_for :head do %>
    <%= javascript_pack_tag 'searches', 'data-turbolinks-track': 'reload' %>
<% end %>

<% if @ip_addresses.any? %>
    <section id="table_filter">
        <%= form_with url: searches_path, method: :get, local: true do |f| %>
            <%= f.label :ip_address, "IP Address:" %>
            <%= f.select :ip_address, @ip_addresses, selected: @ip_address %>
            <%= f.button :submit do %>
                <i class="gg-play-list-search"></i>
            <% end %>
        <% end %>
    </section>
<% end %>
<table id="searches_table">
    <thead>
        <tr>
            <th id="query_header">Query</th>
            <th id="ip_address_header">IP Address</th>
        </tr>
    </thead>
    <tbody>
        <% if @searches.empty? %>
            <tr>
                <td colspan=2>No queries available</td>
            </tr>
        <% else %>
            <% @searches.each do |s| %>
                <tr id="<%= s.id %>">
                    <td><%= s.query %></td>
                    <td class="ip_address_column"><%= s.ip_address %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>